/* GERAL */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}


p {
    color: rgb(85, 85, 85) ;
}

/* TRANSIÇÃO */

a, .btn {
    transition: all 300ms ease;
}

/* NAVEGAÇÃO DESKTOP */

nav, 
.nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: gray;
    text-decoration: underline;   
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
}

.logo {
    font-size: 2rem;
}

.logo:hover {
    cursor: default;
}

/* HAMBURGUER MENU */

#hamburguer-nav {
    display: none;
}

.hamburguer-menu {
    position: relative;
    display: inline-block;
}

.hamburguer-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburguer-icon span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.hamburguer-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburguer-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburguer-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburguer-icon span:first-child {
    transform: none;
}

.hamburguer-icon span:first-child {
    opacity: 1;
}

.hamburguer-icon span:first-child {
    transform: none;
}

/* SEÇÕES */

section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;
}

/* SEÇÃO PERFIL */

#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.section__pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.section__text {
    align-self: center;
    text-align: center;
}

.section__text p {
    font-weight: 600;
}

.section__text__p1 {
    text-align: center;
}

.section__text__p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.title {
    font-size: 3rem;
    text-align: center;
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

.text-container p {
    font-size: 1.5rem;
    text-align: justify;
}

/* ICONES */

.icon {
    cursor: pointer;
    height: 2rem;
}

/* BOTOES */

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 600px;
    height: 150px;
    border-radius: 1rem;
    font-size: 30px;
    background-color: rgb(26, 102, 58);
    color: rgb(255, 161, 21);
    cursor: pointer;
}

.btn-color:hover {
    background-color: rgb(17, 73, 122);
    background: none;
}

/* .btn-color-1, 
.btn-color-2 {
    border: rgb(53, 53, 35) 0.1rem solid;
}

.btn-color-1:hover, 
.btn-color-2:hover {
    cursor: pointer;
}

.btn-color-1, 
.btn-color-2:hover {
    background: rgb(53, 53, 53);
    color: white;
}

.btn-color-1:hover {
    background: rgb(0, 0, 0);
}

.btn-color-2 {
    background: none;
}

.btn-color-2:hover {
    border: rgb(255, 255, 255) 0.1rem solid;
} */

.btn-container {
    gap: 1rem;
}

form .btn-enviar input:hover {
    box-shadow: 0px 0px 8px #ffffff;
    transform: scale(1.05);
}

/* SEÇÃO SOBRE */

#sobremim {
    position: relative;
}

.about-container {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.about-details-container {
    justify-content: center;
    flex-direction: column;
}

.about-container,
.about-details-container {
    display: flex;
    flex-wrap: wrap;
}

.about-pic {
    border-radius: 2rem;
}

.arrow {
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
}

.details-container {
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
}

.section-container {
    gap: 4rem;
    height: 80%;
}

.section__pic-container {
    height: 400px;
    width: 400px;
    margin: auto 0;
}

/* SKILL SECTION */

#skills {
    position: relative;
}

.experince-sub-title {
    color: rgb(85, 85, 85);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.experience-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 2.5rem;
    justify-content: space-around;
}

article {
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
}

article .icon {
    cursor: default;
}

#hobbies {
    position: relative;
}

#formacao {
    position: relative;

}
/* SEÇÃO PROJETOS */

#projetos {
    position: relative;
}

.color-container {
    border-color: rgb(163, 163, 162);
    background: rgb(250, 250, 250   );
}

.project-img {
    border-radius: 2rem;
    width: 90%;
    height: 90%;
}

.project-title {
    margin: 1rem;
    color: black;
}

.project-btn {
    color: black;
    border-color: r;
}

/* SEÇÃO CONTATO */

section.contato {
    padding: 80px 4%;
}

.titulo {
    text-align: center;
}

.interface p {
    text-align: center;
}

.span-required{
    font-size: 12px;
    margin: 3px 0 0 1px;
    color: red;
    display: none;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

form input, form textarea {
    width: 100%;
    background-color: rgb(247, 247, 247);
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    font-size: 22px;

}

form textarea {
    resize: none;
}

.formulario__campo {
    margin-bottom: 2em;
    border: none;
} 



/* SEÇÃO BOTÃO ENVIAR */


.formulario__botao {
    height: 40px;
    width: 120px;
    background-color: rgb(61, 58, 58);
    color: white;
    font-size: 1rem;
    border: 0;
    border-radius: 1rem;
    cursor: pointer;
    transition: background .25s ease-in-out;
}


.formulario__botao:hover {
    background-color: black;
}


.formulario__botao:disabled {
    opacity: .4;
    cursor: default;
}


.formulario__botao:disabled:hover {
    background-color:  rgb(61, 58, 58);
}

/* SEÇÃO RODAPE */

footer {
    height: 26vh;
    margin: 0 1rem;
}

footer p {
    text-align: center;
}

.mensagem-erro {
    color: red;
}



